body {
  background: lightgrey;
  }
  .form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
  }
  .profile-button {
  background: #3798dc;
  box-shadow: none;
  border: none
  }
  .profile-button:hover {
  background: #682773
  }
  .profile-button:focus {
  background: #682773;
  box-shadow: none
  }
  .profile-button:active {
  background: #682773;
  box-shadow: none
  }
  .back:hover {
  color: #682773;
  cursor: pointer
  }
  .labels {
  font-size: 16px
  }
  .add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
  }
  /* bootstrap-tagsinput.css file - add in local */
  h5{color:#eb796c;  font-size: 17px ;}
.bootstrap-tagsinput {
 background-color: #fff;
 border: 1px solid #ccc;
 box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 display: inline-block;
 padding: 4px 6px;
 color: #555;
 vertical-align: middle;
 border-radius: 4px;
 max-width: 100%;
 line-height: 22px;
 cursor: text;
}
.bootstrap-tagsinput input {
 border: none;
 box-shadow: none;
 outline: none;
 background-color: transparent;
 padding: 0 6px;
 margin: 0;
 width: auto;
 max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
 color: #777;
 opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
 color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
 color: #777;
}
.bootstrap-tagsinput input:focus {
 border: none;
 box-shadow: none;
}
.bootstrap-tagsinput .tag {
 margin-right: 2px;
 color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
 margin-left: 8px;
 cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
 content: "x";
 padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
 box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
 box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
label.error {  
  color: red;  
  font-size: 1rem;  
  display: block;  
  margin-top: 5px;  
}  
input.error {  
  border: 1px dashed red;  
  font-weight: 300;  
  color: red;  
}  

/* For Image */
h1 {
font-size: 18px;
text-align: center;
margin: 20px 0 20px;
}
h1 small {
display: block;
font-size: 14px;
font-weight: bold;
padding-top: 8px;
color: black;
}
.avatar-upload {
position: relative;
max-width: 205px;
margin: 50px auto;
}
.avatar-upload .avatar-edit {
position: absolute;
right: 12px;
z-index: 1;
top: 10px;
}
.avatar-upload .avatar-edit input {
display: none;
}
.avatar-upload .avatar-edit input + label {
display: inline-block;
width: 34px;
height: 34px;
margin-bottom: 0;
border-radius: 100%;
background: #FFFFFF;
border: 1px solid transparent;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
cursor: pointer;
font-weight: normal;
transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
background: #f1f1f1;
border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
content: "\f040";
font-family: 'FontAwesome';
color: #757575;
position: absolute;
top: 10px;
left: 0;
right: 0;
text-align: center;
margin: auto;
}
.avatar-upload .avatar-preview {
width: 192px;
height: 192px;
position: relative;
border-radius: 100%;
border: 6px solid #F8F8F8;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
width: 100%;
height: 100%;
border-radius: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
.red-star {
  color: red;
}
